# --- IDEA / VSCode 配置文件 (必须忽略) ---
.idea/
*.iml
.vscode/

# --- 后端 (Java/Spring Boot) ---
mall-backend/target/
mall-backend/*.log
*.class
*.jar
*.war

# --- 前端 (Vue/Node) ---
mall-frontend/node_modules/
mall-frontend/dist/
mall-frontend/npm-debug.log*
mall-frontend/yarn-debug.log*
mall-frontend/yarn-error.log*
.DS_Store